<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.taproot.helper</string>
    <key>CFBundleName</key>
    <string>TaprootHelper</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.5</string>
    <key>CFBundleVersion</key>
    <string>6</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>TaprootBaseURL</key>
    <string>https://connect.taproothq.com</string>
    <key>TaprootSupabaseURL</key>
    <string>https://bbkvpmqrjobkquxteoes.supabase.co</string>
    <key>TaprootSupabaseAnonKey</key>
    <string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJia3ZwbXFyam9ia3F1eHRlb2VzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcyNjc1OTQsImV4cCI6MjA5Mjg0MzU5NH0.KrhkONS8HoLjASJmWyFvQtrl4GbLgjL5021yufvPLq8</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>com.taproot.helper</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>taproot</string>
            </array>
        </dict>
    </array>
    <key>SUFeedURL</key>
    <string>https://updates.taproothq.com/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>AgOI45EHsCTyuX42vROFcMjw9PYzGAhl2SIBi7bdKZ8=</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>SUScheduledCheckInterval</key>
    <integer>86400</integer>
    <key>SUAutomaticallyUpdate</key>
    <false/>
</dict>
</plist>
